<div #tinder class="tinder">
  <div class="tinder--status">
    <fa-icon [icon]="faXmark" class="fa fa-remove"></fa-icon>
    <fa-icon [icon]="faHeart" class="fa fa-heart"></fa-icon>
  </div>

  <div class="tinder--cards">
    <div #allTheseThings class="tinder--card" *ngFor="let card of allPro; index as i" [id]="i">
      <img class="w-full" [src]="'data:image/jpeg;base64,'+card.image[0]">
      <h3>{{card.price}}</h3>
      <p>{{card.description}}</p>
    </div>
  </div>

  <div class="tinder--buttons">
    <button id="nope" (click)="onNopeClick(false)"><fa-icon class="fa fa-remove" [icon]="faXmark"></fa-icon></button>
    <button id="love" (click)="onNopeClick(true)"><fa-icon class="fa fa-heart" [icon]="faHeart"></fa-icon></button>
  </div>
</div>