.example-card {
  max-width: 400px;
  height: fit-content;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.wish-list-cont {
  padding: 16px 32px;
}

.wishlist-cont {
  padding-top: 8px;
  height: fit-content;
  background: var(--background-color);
}

.desc {
  padding: 8px 8px;
}

.buy {
  width: 80%;
  height: 36px;
  background: var(--primary-90);
  color: var(--white-color);

  &:hover {
    background: var(--primary-color);
  }
}

.clear {
  &:hover {
    cursor: pointer;
  }
}

.close-icon {
  width: 16px;
  height: 16px;
}
