<div class="flex w-full bg-primary align-items-center justify-content-between">
  <div>
    <a href="#">
      <img
        src="../../assets/images/eThrift-full-icon.png"
        width="90px"
        height="50px"
        alt="logo"
      />
    </a>
  </div>
  <div class="flex h-full">
    <div
      class="w-15rem h-full hover:bg-white transition-duration-200 flex justify-content-center"
    >
      home
    </div>
    <div
      class="w-15rem h-full hover:bg-white transition-duration-200 flex justify-content-center"
    >
      donation box
    </div>
    <div
      class="w-15rem h-full hover:bg-white transition-duration-200 flex justify-content-center"
    >
      information
    </div>
    <div
      class="w-15rem h-full hover:bg-white transition-duration-200 flex justify-content-center"
    >
      wishlist
    </div>
    <div
      class="w-15rem h-full hover:bg-white transition-duration-200 flex justify-content-center"
    >
      profile
    </div>
  </div>
</div>
