<div
  class="flex w-full bg-primary align-items-center justify-content-between bg-cyan-300"
>
  <div class="w-1/6">
    <a href="#">
      <img
        src="../../assets/images/eThrift-full-icon.png"
        width="90px"
        height="50px"
        alt="logo"
      />
    </a>
  </div>
  <div class="flex h-full w-5/6">
    <div
      [routerLink]="['/home']"
      class="w-1/5 h-full hover:bg-white duration-200 flex justify-center"
    >
      home
    </div>
    <div
      [routerLink]="['/donation-box']"
      class="w-1/5 h-full hover:bg-white duration-200 flex justify-center"
    >
      donation box
    </div>
    <div
      [routerLink]="['/information']"
      class="w-1/5 h-full hover:bg-white duration-200 flex justify-center"
    >
      information
    </div>
    <div
      [routerLink]="['/wish-list']"
      class="w-1/5 h-full hover:bg-white duration-200 flex justify-center"
    >
      wishlist
    </div>
    <div
      [routerLink]="['/profile']"
      class="w-1/5 h-full hover:bg-white duration-200 flex justify-center"
    >
      profile
    </div>
  </div>
</div>
