/* General */
$fontSize: 10px;
$borderRadius: 12px;
$transitionDuration: 0.2s;

:root {
  --primary-color: #5fe5ef;
  --background-color: #eff3f8;
  --white-color: #ffffff;
  --black-color: #000000;

  --primary-10: #effcfd;
  --primary-20: #dffafc;
  --primary-40: #bff5f9;
  --primary-50: #aff2f7;
  --primary-60: #9feff5;
  --primary-70: #8fedf4;
  --primary-80: #7feaf2;
  --primary-90: #6fe8f1;
  --primary-110: #56ced7;
  --primary-120: #4cb7bf;

  --red-color: #ff8d8d;
}
