@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_overrides";
@import "../node_modules/primeflex/primeflex.css";

body {
  background: var(--background-color);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.sidebar-cont {
  width: 400px;
  height: 100vh;
  background: var(--white-color);

  .sidebar-top {
    padding: 16px;
    height: 60px;
    background: var(--primary-color);
    color: var(--white-color);

  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
